body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #514878;
  }
  .switch {
    position: relative;
    font-size:0.5px;
  }
  .switch input {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 100;
    cursor: pointer;
  }
  .switch label {
    height: 110em;
    width: 220em;
    background-color: #39315a;
    border-radius: 100em;
    display: block;
    box-shadow: inset 0 0 20em rgba(0,0,0,0.2), inset 0 0 5em -2em rgba(0,0,0,0.4);
  }
  .switch label .bulb {
    height: 90em;
    width: 90em;
    background-color: #4a426b;
    border-radius: 50%;
    position: relative;
    top: 10em;
    left: 10em;
    display: block;
    transition: 0.7s;
    box-shadow: inset 0 0 1em 3em #4a426b, inset 0 0 6em 8em #423963, 0 20em 30em -10em rgba(0,0,0,0.4);
  }
  .switch label .bulb .bulb-center {
    position: absolute;
    display: block;
    height: 36em;
    width: 36em;
    background-color: #5a527b;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transition: 0.7s;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 0 4em #635a84;
  }
  .switch label .bulb .bulb-center:after {
    content: "";
    display: block;
    height: 14em;
    width: 14em;
    background-color: #7b7394;
    border-radius: 50%;
    position: absolute;
    transition: 0.7s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 2em 4em #524a73;
  }
  .switch label .bulb .filament-1,
  .switch label .bulb .filament-2 {
    position: absolute;
    display: block;
    height: 35em;
    width: 35em;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .switch label .bulb .filament-1:after,
  .switch label .bulb .filament-2:after,
  .switch label .bulb .filament-1:before,
  .switch label .bulb .filament-2:before {
    content: "";
    display: block;
    height: 6em;
    width: 17em;
    border-radius: 50%;
    border: 2em solid #4a426b;
    position: absolute;
    transition: 0.7s;
    top: -4em;
    left: -2em;
    transform: rotate(-10deg);
  }
  .switch label .bulb .filament-1:before,
  .switch label .bulb .filament-2:before {
    left: 15em;
    transform: rotate(10deg);
  }
  .switch label .bulb .filament-2 {
    transform: translate(-50%, -50%) rotate(45deg) !important;
  }
  .reflections {
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    z-index: 90;
    perspective: 70em;
  }
  .reflections span {
    height: 80em;
    width: 80em;
    border-radius: 50%;
    background-image: linear-gradient(-135deg, transparent 10%, rgba(255,255,255,0.3));
    position: absolute;
    left: -40em;
    bottom: -45em;
  }
  .reflections span:after {
    content: "";
    display: block;
    height: 35em;
    width: 20em;
    position: absolute;
    top: -36em;
    right: -40em;
    border-radius: 50%;
    box-shadow: 4em -2em 0 -3em rgba(255,255,255,0.4);
    filter: blur(1em);
    transform: rotate(-10deg);
  }
  .reflections:after {
    content: "";
    display: block;
    height: 80em;
    width: 50em;
    background-image: linear-gradient(80deg, rgba(255,255,255,0.05) 45%, rgba(255,255,255,0.5));
    border-radius: 10% 20% 50% 30%/30% 60% 30% 40%;
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateX(-25deg) rotate(-35deg) skewx(-15deg) translate(10em, -20em);
    top: -8em;
    left: -5em;
  }
  .reflections:before {
    content: "";
    display: block;
    position: absolute;
    height: 10em;
    width: 30em;
    background-image: linear-gradient(to right, transparent, rgba(255,255,255,0.15));
    bottom: 10em;
    right: 0em;
    transform: rotate(45deg);
  }
  .sparks .spark1 {
    display: block;
    height: 1em;
    width: 1em;
    background-color: #d1b82b;
    position: absolute;
    right: -5em;
    border-radius: 50%;
    bottom: 23em;
    transition: 0.4s;
    opacity: 0;
  }
  .sparks .spark2 {
    display: block;
    height: 3em;
    width: 3em;
    background-color: #d1b82b;
    position: absolute;
    right: 20em;
    border-radius: 50%;
    bottom: 80em;
    transition: 0.4s;
    opacity: 0;
  }
  .sparks .spark3 {
    display: block;
    height: 3em;
    width: 3em;
    background-color: #d1b82b;
    position: absolute;
    left: 20em;
    border-radius: 50%;
    bottom: 80em;
    transition: 0.4s;
    opacity: 0;
  }
  .sparks .spark4 {
    display: block;
    height: 3em;
    width: 3em;
    background-color: #d1b82b;
    position: absolute;
    left: 20em;
    border-radius: 50%;
    bottom: 20em;
    transition: 0.4s;
    opacity: 0;
  }
  .switch input:checked ~ label .bulb {
    left: 120em;
    background-color: #a7694a;
    box-shadow: inset 0 0 1em 3em #a56758, inset 0 0 6em 8em #6b454f, 0 20em 30em -10em rgba(0,0,0,0.4), 0 0 30em 50em rgba(253,184,67,0.1);
  }
  .switch input:checked ~ label .bulb > .bulb-center {
    background-color: #feed6b;
    box-shadow: inset 0 0 0 4em #fdec6a, 0 0 12em 10em #bca83c, 0 0 20em 14em #a1664a;
  }
  .switch input:checked ~ label .bulb > .bulb-center:after {
    background-color: #fef401;
    box-shadow: 0 0 2em 4em #fdb843;
  }
  .switch input:checked ~ label .bulb >.filament-1:before,
  .switch input:checked ~ label .bulb >.filament-2:before,
  .switch input:checked ~ label .bulb >.filament-1:after,
  .switch input:checked ~ label .bulb >.filament-2:after {
    border-color: #fef4d5;
  }
  .switch input:checked ~ label .bulb > .sparks .spark1 {
    height: 1em;
    width: 1em;
    animation: spark1 2s ease-in-out;
    animation-delay: 0.4s;
  }
  .switch input:checked ~ label .bulb > .sparks .spark2 {
    height: 1em;
    width: 1em;
    animation: spark2 2.4s ease-in-out;
    animation-delay: 0.4s;
  }
  .switch input:checked ~ label .bulb > .sparks .spark3 {
    height: 1em;
    width: 1em;
    animation: spark3 2s ease-in-out;
    animation-delay: 0.9s;
  }
  .switch input:checked ~ label .bulb > .sparks .spark4 {
    height: 1em;
    width: 1em;
    animation: spark4 1.7s ease-in-out;
    animation-delay: 0.9s;
  }
  @-moz-keyframes spark1 {
    0% {
      right: -5em;
      height: 1em;
      width: 1em;
      opacity: 0;
    }
    20% {
      height: 3em;
      width: 3em;
      right: 0em;
      opacity: 1;
    }
    30% {
      right: -5em;
      opacity: 1;
      height: 3em;
      width: 3em;
    }
    70% {
      height: 3em;
      width: 3em;
    }
    100% {
      right: -60em;
      bottom: 40em;
      opacity: 0;
    }
  }
  @-webkit-keyframes spark1 {
    0% {
      right: -5em;
      height: 1em;
      width: 1em;
      opacity: 0;
    }
    20% {
      height: 3em;
      width: 3em;
      right: 0em;
      opacity: 1;
    }
    30% {
      right: -5em;
      opacity: 1;
      height: 3em;
      width: 3em;
    }
    70% {
      height: 3em;
      width: 3em;
    }
    100% {
      right: -60em;
      bottom: 40em;
      opacity: 0;
    }
  }
  @-o-keyframes spark1 {
    0% {
      right: -5em;
      height: 1em;
      width: 1em;
      opacity: 0;
    }
    20% {
      height: 3em;
      width: 3em;
      right: 0em;
      opacity: 1;
    }
    30% {
      right: -5em;
      opacity: 1;
      height: 3em;
      width: 3em;
    }
    70% {
      height: 3em;
      width: 3em;
    }
    100% {
      right: -60em;
      bottom: 40em;
      opacity: 0;
    }
  }
  @keyframes spark1 {
    0% {
      right: -5em;
      height: 1em;
      width: 1em;
      opacity: 0;
    }
    20% {
      height: 3em;
      width: 3em;
      right: 0em;
      opacity: 1;
    }
    30% {
      right: -5em;
      opacity: 1;
      height: 3em;
      width: 3em;
    }
    70% {
      height: 3em;
      width: 3em;
    }
    100% {
      right: -60em;
      bottom: 40em;
      opacity: 0;
    }
  }
  @-moz-keyframes spark2 {
    0% {
      height: 3em;
      width: 3em;
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    100% {
      right: -20em;
      bottom: 100em;
      opacity: 0;
    }
  }
  @-webkit-keyframes spark2 {
    0% {
      height: 3em;
      width: 3em;
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    100% {
      right: -20em;
      bottom: 100em;
      opacity: 0;
    }
  }
  @-o-keyframes spark2 {
    0% {
      height: 3em;
      width: 3em;
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    100% {
      right: -20em;
      bottom: 100em;
      opacity: 0;
    }
  }
  @keyframes spark2 {
    0% {
      height: 3em;
      width: 3em;
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    100% {
      right: -20em;
      bottom: 100em;
      opacity: 0;
    }
  }
  @-moz-keyframes spark3 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
      height: 2em;
      width: 2em;
    }
    100% {
      left: 0em;
      bottom: 100em;
      opacity: 0;
      height: 3em;
      width: 3em;
    }
  }
  @-webkit-keyframes spark3 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
      height: 2em;
      width: 2em;
    }
    100% {
      left: 0em;
      bottom: 100em;
      opacity: 0;
      height: 3em;
      width: 3em;
    }
  }
  @-o-keyframes spark3 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
      height: 2em;
      width: 2em;
    }
    100% {
      left: 0em;
      bottom: 100em;
      opacity: 0;
      height: 3em;
      width: 3em;
    }
  }
  @keyframes spark3 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
      height: 2em;
      width: 2em;
    }
    100% {
      left: 0em;
      bottom: 100em;
      opacity: 0;
      height: 3em;
      width: 3em;
    }
  }
  @-moz-keyframes spark4 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
      height: 2em;
      width: 2em;
    }
    100% {
      left: -20em;
      bottom: -10em;
      opacity: 0;
      height: 3em;
      width: 3em;
    }
  }
  @-webkit-keyframes spark4 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
      height: 2em;
      width: 2em;
    }
    100% {
      left: -20em;
      bottom: -10em;
      opacity: 0;
      height: 3em;
      width: 3em;
    }
  }
  @-o-keyframes spark4 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
      height: 2em;
      width: 2em;
    }
    100% {
      left: -20em;
      bottom: -10em;
      opacity: 0;
      height: 3em;
      width: 3em;
    }
  }
  @keyframes spark4 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
      height: 2em;
      width: 2em;
    }
    100% {
      left: -20em;
      bottom: -10em;
      opacity: 0;
      height: 3em;
      width: 3em;
    }
  }
  